export(GC.content)
export(clust.suite)
export(oligo.freq)
export(opt.clust.num)
import("factoextra")
import("cluster")
import("dbscan")
importFrom("dplyr","mutate")
import("Biostrings")
importFrom("seqinr","GC")
importFrom("graphics", "plot")
importFrom("stats", "cutree", "dist", "hclust", "kmeans", "var")
